@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .systemUser {
        background-color: grey;
    }

    .sender {
        background-color: lightblue;
    }

    .recipient {
        background-color: lightcoral;
        margin-left: 5%;
    }

    .messageLi {
        background-color: white;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.min.js" integrity="sha512-hqwtOj6waHZZoLRoJoLn0tq34JS97tR1QmhM69uvyrt3LVBiR1o0xeOVAskjUFL1L1fahQH2W7IdcMaFbqCEaw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="col-sm-8 mt-5">

    <form id="msgForm">
        <div class="form-group mb-3">
            <label>Username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" required autocomplete="off" />
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="userMessage" placeholder="Enter message" required autocomplete="off" />
            <div class="input-group-append">
                <button id="btnSend" class="btn btn-outline-secondary" type="submit">Send</button>
            </div>
        </div>
    </form>

    <div class="border">
        <ul id="chatHistory" class="list-group overflow-auto" style="max-height:400px; height:400px;"></ul>

    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="roomName" placeholder="Enter room name!" required autocomplete="off" />
        <div class="input-group-append">
            <button id="btnJoin" class="btn btn-outline-secondary" type="submit"> Join Room</button>
        </div>
    </div>


</div>

